@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Epilogue", sans-serif;
}

body {
  height: 100vh;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  margin: 16px;
}

.backgroundcolor {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
  display: block;
}

.on {
  background: #151515;
  mix-blend-mode: normal;
  opacity: 0.75;
}

nav {
  position: fixed;
  top: 0;
  right: -64%;
  width: 64%;
  max-width: 400px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 78px 0 0 24px;
  transition: all 0.75s ease;
}

.menubutton {
  position: fixed;
  top: 2%;
  right: 4%;
  background-color: #ffffff;
  border: none;
}

.menubutton:hover {
  cursor: pointer;
}

.mainnavlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul {
  list-style-type: none;
}

.dropdownlist {
  display: none;
  flex-direction: column;
  gap: 16px;
  margin: 24px 0 24px 23px;
}

.dropdownlist li {
  display: flex;
  gap: 16px;
  animation: fadein;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.dropdownlist img {
  height: 20px;
  width: 20px;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #686868;
}

a:hover {
  color: #151515;
}

.open {
  right: 0;
}

.dropdown::after {
  content: url("../images/icon-arrow-down.svg");
  margin-left: 16px;
}

#features::after {
  margin-left: 19px;
}

.expanded::after {
  content: url("../images/icon-arrow-up.svg");
  margin-left: 16px;
}

.loginregister {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.loginregister a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
}

.loginregister a:hover {
  color: #151515;
}

.register {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  border: 1.5px solid #686868;
  border-radius: 14px;
  width: 195px;
  height: 42px;
  background-color: #ffffff;
}

.register:hover {
  color: #151515;
  border: 1.5px solid #151515;
  cursor: pointer;
}

main {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagecontainer {
  width: 375px;
  height: 281.25px;
  background-image: url("../images/image-hero-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 282px;
  margin: 48px 16px;
  max-width: 450px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #151515;
}

p {
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #686868;
}

.learnmore {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.222222px;
  color: #fafafa;
  background: #151515;
  border-radius: 15px;
  border: none;
  width: 136px;
  height: 48px;
}

.learnmore:hover {
  color: #151515;
  border: 1px solid #151515;
  background-color: #fafafa;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 48px;
}

.footer img {
  width: 81.25px;
  height: 14.36px;
}

.footer img:nth-of-type(2) {
  width: 52.87px;
  height: 26px;
}

.footer img:nth-of-type(3) {
  width: 64.14px;
  height: 14.36px;
}

.footer img:nth-of-type(4) {
  width: 58.9px;
  height: 17.23px;
}

@media (min-width: 600px) {
  .logo {
    margin: 38px;
  }

  .menubutton {
    top: 4%;
    right: 12%;
  }
}

@media (min-width: 1200px) {
  .logo {
    position: fixed;
    top: 0;
    left: 0;
  }

  body,
  nav,
  .register {
    background-color: #fafafa;
  }

  .backgroundcolor {
    display: none;
  }

  .menubutton {
    display: none;
  }

  nav {
    width: auto;
    max-width: 100%;
    height: 42px;
    position: static;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 40px 0 187px;
    padding: 0;
    transition: none;
  }

  .mainnavlist {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 13px;
  }

  .dropdown {
    display: flex;
    flex-direction: row;
  }

  .dropdown::after {
    margin-left: 9px;
  }

  #features::after {
    margin-left: 8px;
  }

  .dropdownlist {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    margin: 0;
    margin-top: 20px;
    padding: 24px;
    margin-left: -70px;
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;
  }

  .dropdownlist li {
    gap: 14px;
  }

  .dropdownlist li a {
    font-size: 14px;
    line-height: 16px;
  }

  #dropdowncompany {
    margin-left: -20px;
  }

  .dropdownlist img {
    height: 16px;
    width: 16px;
  }

  .loginregister {
    flex-direction: row;
    gap: 40px;
  }

  .register {
    width: 104px;
  }

  main {
    flex-direction: row-reverse;
    margin-top: 67px;
    height: 640px;
    justify-content: center;
    width: 100%;
    gap: 125px;
  }

  article {
    margin: 0;
    height: 100%;
    max-width: 520px;
    justify-content: flex-end;
    gap: 50px;
    margin-top: 30px;
  }

  h1 {
    font-size: 80px;
    line-height: 80px;
    text-align: left;
    letter-spacing: -1.11111px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    width: 445px;
    align-self: flex-start;
  }

  .learnmore {
    width: 175px;
    height: 56px;
    padding: 15px 30px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.25px;
    align-self: start;
  }

  .imagecontainer {
    background-image: url("../images/image-hero-desktop.png");
    width: 480px;
    height: 640px;
  }

  .footer {
    width: 477.63px;
    height: 35.9px;
    margin-top: 58px;
    align-self: flex-start;
    justify-content: flex-start;
  }

  .footer img {
    width: 113.14px;
    height: 20px;
  }

  .footer img:nth-of-type(2) {
    width: 73px;
    height: 35.9px;
  }

  .footer img:nth-of-type(3) {
    width: 89.31px;
    height: 20px;
  }

  .footer img:nth-of-type(4) {
    width: 82.01px;
    height: 24px;
  }
}

@media (min-width: 1600px) {
  main {
    gap: 400px;
  }
}
