@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Epilogue", sans-serif;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  margin: 16px;
}

.backgroundcolor {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
  display: block;
}

.on {
  background: #151515;
  mix-blend-mode: normal;
  opacity: 0.75;
}

nav {
  position: fixed;
  top: 0;
  right: -64%;
  width: 64%;
  max-width: 400px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 78px 0 0 24px;
  transition: all 0.75s ease;
}

.menubutton {
  position: fixed;
  top: 16px;
  right: 16px;
  background-color: #ffffff;
  border: none;
}

.mainnavlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul {
  list-style-type: none;
}

.dropdownlist {
  display: none;
  flex-direction: column;
  gap: 16px;
  margin: 24px 0 24px 23px;
}

.dropdownlist li {
  display: flex;
  gap: 16px;
  animation: fadein;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.dropdownlist img {
  height: 20px;
  width: 20px;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #686868;
}

a:hover {
  color: #151515;
}

.open {
  right: 0;
}

.dropdown::after {
  content: url("../images/icon-arrow-down.svg");
  margin-left: 16px;
}

#features::after {
  margin-left: 19px;
}

.expanded::after {
  content: url("../images/icon-arrow-up.svg");
  margin-left: 16px;
}

.loginregister {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.loginregister a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
}

.loginregister a:hover {
  color: #151515;
}

.register {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  border: 1.5px solid #686868;
  border-radius: 14px;
  width: 195px;
  height: 42px;
  background-color: #ffffff;
}

.register:hover {
  color: #151515;
  border: 1.5px solid #151515;
  cursor: pointer;
}

main {
  margin-top: 24px;
}

.imagecontainer {
  width: 375px;
  height: 281.25px;
  background-image: url("../images/image-hero-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 208px;
  margin: 48px 16px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #151515;
}

p {
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #686868;
}

.learnmore {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.222222px;
  color: #fafafa;
  background: #151515;
  border-radius: 15px;
  border: none;
  width: 136px;
  height: 48px;
}

.learnmore:hover {
  color: #151515;
  border: 1px solid #151515;
  background-color: #fafafa;
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

footer img {
  width: 81.25px;
  height: 14.36px;
}

footer img:nth-of-type(2) {
  width: 52.87px;
  height: 26px;
}

footer img:nth-of-type(3) {
  width: 64.14px;
  height: 14.36px;
}

footer img:nth-of-type(4) {
  width: 58.9px;
  height: 17.23px;
}
